.table-invisible {
    visibility: hidden;
    position: absolute;
}

.table-hidden {
    display: none;
}

.dataTableWrapper {
    font-size: 0.875em; /* 14/16 */

    &.table-responsive {
      overflow: visible;
    }

    > header {
        @include clearfix;

        > h1 {
            margin: 0;
            float: left;
        }

        > h2 {
              margin: pxEmFont(10px, $font-size-h2) 0 0;
              color: $brand-primary;
              font-style: italic;
          }

        > .btn-group-wrapper {
            float: right;
        }
    }

    > .dataTables_wrapper {
        margin-top: pxEmFont(10px, 0.875em);
    }
}

table.dataTable {
    width: 100%!important;

    &.table-dropdown {
        height: 1px;

        .datatables-dropdown {
            padding: 0;
            vertical-align: middle;
            height: 100%;

            .submenu {
                height: 100%;
            }

            a {
                height: 100%;
                min-width: 1.25em;
                display: block;
                position: relative;
                padding: 0 0.9375em; /* 15/16 */

                .caret {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    font-size: $font-size-h2;
                }
            }

            .dropdown-menu {
              position: absolute;
              top: auto;
              left: auto;
              min-width: auto;

              a {
                  padding: 0.3125em 0.625em; /* 5/16 */ /* 10/16 */
              }
            }
        }
    }

    &.table-checkbox {
        tbody tr,
        thead th:first-child {
            cursor: pointer;
        }
    }

    &.table-thumbnails tbody td {
        vertical-align: middle;
    }

    &.table-report {
        thead {
            > tr {
                @extend .bg-info;
            }
        }
    }

    thead > tr > th.sorting {
        padding-right: 0;
    }

    tbody > tr.selected {
        background-color: lighten($brand-secondary, 20%);
    }

    tbody > tr.non-selectable {
        cursor: default;
    }

    .vertical-center {
        vertical-align: middle;
    }

    span.teaser {
        font-size: 0.875em; /* 14/16 */
        font-style: italic;
    }

    .payment-info {
        > table {
            margin-bottom: 0;

            td {
                text-align: right;
            }
        }
    }
}

.dataTableFull {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.dataTableL {
    @include span(6);
}

.dataTableF {
    @include span(6 last);
}

.dataTableI {
    @include span(5);
}

.dataTableP {
    @include span(7 last);
}
