<!doctype html>
<html lang="ru">
<head dir="ltr">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Communal Fee Contract</title>
    <style type="text/css">
        html {
            margin: 50px 50px 20px 50px;
        }

        body {
            font-family: 'DejaVu Sans';
            font-size: 10px;
            line-height: 0.85em;
        }

        .font-size-7 {
            font-size: 7px;
        }

        .font-size-8 {
            font-size: 8px;
        }

        .font-size-12 {
            font-size: 12px;
        }

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 11px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            padding: 0;
        }

        .break {
            page-break-after: always;
        }

        table tr td {
            vertical-align: top;
            padding: 0 10px;
            line-height: 0.85em;
        }

        td.padding {
            padding: 10px;
        }

        .border {
            border: 1px solid #000;
        }

        .border-right {
            border-right: 1px solid #000;
        }

        .border-left {
            border-left: 1px solid #000;
        }

        .border-bottom {
            border-bottom: 1px solid #000;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>

<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="padding border-right" width="50%"><h1>ДОГОВОР</h1></td>
            <td class="padding border-left" width="50%"><h1>ДОГОВОР</h1></td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%">Днес ${DATE} в гр. Поморие между:</td>
            <td class="padding border-left" width="50%">Сегодня, ${DATE} года, в городе Поморие, между:</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">1. <strong>${NAMES}</strong>, с постоянен адрес <strong>${ADDRESSES}</strong>, като собственик на Апартамент № <strong>${APARTMENT}</strong> в сграда ${BUILDINGNAME-BG}, в комплекс „Сънсет Ризорт“ град Поморие, с административен адрес град Поморие, ул. „Княз Борис 1“ № 219, с ел. адрес за кореспонденция ${EMAILS}, наричан <strong>СОБСТВЕНИК</strong> от една страна</td>
            <td class="border-left" width="50%">1. <strong>${NAMES}</strong>, зарегистрированный по адресу <strong>${ADDRESSES}</strong>, в качестве собственника Квартиры № <strong>${APARTMENT}</strong> в здании ${BUILDINGNAME}, в комплексе «Сансет Ресорт» - город Поморие, по административному адресу: город Поморие, ул. «Князь Борис 1» № 219, адрес электронной почты для переписки ${EMAILS}, именуемый <strong>СОБСТВЕННИК</strong>, с одной стороны</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%">И</td>
            <td class="padding border-left" width="50%">И</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2. <strong>СЪНСЕТ РЕНТАЛ ЕООД</strong>, с ЕИК 205862836, със седалище и адрес на управление в ул. Чайка 1, 8201, Поморие, България, представлявано от управителя БОЖИДАР РУСЕВ НИКОЛОВ, с ЕГН 8502035884, и л.к. № 640712184, с ел. адрес за кореспонденция: management@sunseresort.bg, наричано <strong>ДРУЖЕСТВОТО</strong> от друга страна, се сключи следния договор:</td>
            <td class="border-left" width="50%">2. <strong>ЕООО «САНСЕТ РЕНТАЛ»</strong>, ЕИК (единый идентификационный код): 205862836, местонахождение и юридический адрес: ул. «Чайка» № 1, почтовый индекс 8201, гор. Поморие, Болгария, в лице управляющего БОЖИДАРА РУСЕВА НИКОЛОВА, ЕГН (единый идентификационный код): 8502035884, и удостоверение личности № 640712184, адрес электронной почты для переписки: management@sunseresort.bg, именуемое <strong>ОБЩЕСТВО</strong>, с другой стороны, был заключен следующий договор:</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><strong><em>Страните, като отчетоха следните обстоятелства:</em></strong></td>
            <td class="padding border-left" width="50%"><strong><em>Стороны, учитывая следующие обстоятельства:</em></strong></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">1. <strong>СЪНСЕТ РЕНТАЛ ЕООД</strong>, с ЕИК 205862836 е единствен Клиент за доставка на електрическа енергия към електроразпределителното дружество „ЕВН България Електроснабдяване“ ЕАД, обслужващо всички сгради и съоръжения в комплекс „Сънсет Ризорт“ в град Поморие, в който се намира имота на <strong>СОБСТВЕНИКА</strong>.</td>
            <td class="border-left" width="50%">1. <strong>ЕООО «САНСЕТ РЕНТАЛ»</strong>, ЕИК (единый идентификационный код): 205862836, является единственным Клиентом для доставки электрической энергии электрораспределительного общества ЕАО «ЕВН Болгария Электроснабжение», обслуживающее все здания и сооружения в комплексе «Сансет Ресорт» в городе Поморие, в котором находится объект недвижимости <strong>СОБСТВЕННИКА</strong>.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2. <strong>СЪНСЕТ РЕНТАЛ ЕООД</strong>, с ЕИК 205862836 е единствен Клиент за доставка на вода и обслужване на канализация към водоснабдителното дружество „Водоснабдяване и канализация - Бургас“ ЕАД обслужващо всички сгради и съоръжения в к-с „Сънсет Ризорт“ в град Поморие, в който се намира имота на <strong>СОБСТВЕНИКА</strong>.</td>
            <td class="border-left" width="50%">2. <strong>ЕООО «САНСЕТ РЕНТАЛ»</strong>, ЕИК (единый идентификационный код): 205862836, является единственным Клиентом для доставки воды и обслуживания канализации общества водоснабжения ЕАО «Водоснабжение и канализация – гор. Бургас», обслуживающее все здания и сооружения в комплексе «Сансет Ресорт» в городе Поморие, в котором находится объект недвижимости <strong>СОБСТВЕННИКА</strong>.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">3. <strong>СЪНСЕТ РЕНТАЛ ЕООД</strong>, с ЕИК 205862836 заплаща на електроразпределителното дружество „ЕВН България Електроснабдяване“ ЕАД, както и на водоснабдителното дружество „Водоснабдяване и канализация – Бургас “ ЕАД цялата консумирана електрическа енергия и вода, както и всички дължими към съответните дружества такси за к-с „Сънсет Ризорт“ град Поморие, включително и консумираната ел. енергия и вода в имота на <strong>СОБСТВЕНИКА</strong>.</td>
            <td class="border-left" width="50%">3. <strong>ЕООО «САНСЕТ РЕНТАЛ»</strong>, ЕИК (единый идентификационный код): 205862836, оплачивает электрораспределительному обществу ЕАО «ЕВН Болгария Электроснабжение», а также обществу водоснабжения ЕАО «Водоснабжение и канализация – гор. Бургас» всю потребленную электрическую энергию и воду, а также все следуемые соответствующим обществам сборы за комплекс «Сансет Ресорт» - город Поморие, в том числе потребленные электрическую энергию и воду в объекте недвижимости <strong>СОБСТВЕННИКА</strong>.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">4. Налице е техническа и правна невъзможност да бъдат обособени индивидуални партиди на <strong>СОБСТВЕНИКА</strong> за доставка на електрическа енергия и за вода, обслужващи апартамента му, находящ се в к-с „Сънсет Ризорт“ в град Поморие.</td>
            <td class="border-left" width="50%">4. Существует техническая и юридическая невозможность обособить индивидуальные счета <strong>СОБСТВЕННИКА</strong> для доставки электрической энергии и воды, обслуживающих его квартиру, находящуюся в комплексе «Сансет Ресорт» в городе Поморие.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><strong><em>Се споразумяха за следното:</em></strong></td>
            <td class="padding border-left" width="50%"><strong><em>Договорились о нижеследующем:</em></strong></td>
        </tr>
        ${2}
        <tr>
            <td class="border-right" width="50%"><strong>Чл.1. ДРУЖЕСТВОТО</strong> ще осигурява електрическа енергия и вода в имота на <strong>СОБСТВЕНИКА</strong>, при условията на настоящия договор.</td>
            <td class="border-left" width="50%"><strong>Ст. 1. ОБЩЕСТВО</strong> будет обеспечивать электрическую энергию и воду в объекте недвижимости <strong>СОБСТВЕННИКА</strong> в соответствии с условиями настоящего договора.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table class="break" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom font-size-8">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Собственика</strong> / Для <strong>Собственника</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Дружеството</strong> / Для <strong>Общество</strong></td>
        </tr>
        <tr>
            <td class="text-center font-size-8" width="50%">Страница <strong>1</strong> от <strong>2</strong></td>
            <td class="text-center font-size-8" width="50%">Страница <strong>1</strong> от <strong>2</strong></td>
        </tr>
    </tbody>
</table>
<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.2, ал.1.</strong> СОБСТВЕНИКЪТ се задължава да плаща на ДРУЖЕСТВОТО за ползваната в имота му електрическа енергия, вода и канализация следните такси:</td>
            <td class="border-left" width="50%"><strong>Ст. 2, п. 1.</strong> СОБСТВЕНИК обязуется оплачивать ОБЩЕСТВУ за электрическую энергию, воду и канализацию, используемые в его объекте недвижимости, следующие сборы:</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">1. ${ANNUAL_COMMUNAL_TAX} лева – ежегодна годишна такса, платима до края на предходната календарна година. Падежът на таксата за 2021 г. е 15.06.2021 г.</td>
            <td class="border-left" width="50%">1. ${ANNUAL_COMMUNAL_TAX} левов – ежегодная годовая плата, подлежащая уплате до конца предыдущего календарного года. Крайний срок уплаты за 2021 год – 15.06.2021 года.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2. ${DAILY_COMMUNAL_TAX} лева – фиксирана дневна такса за всеки ден престой на собственика или негови гости, наематели или ползватели, платима в момента на регистрация на заминаване през последният ден на всеки престой (чек-аут).</td>
            <td class="border-left" width="50%">2. ${DAILY_COMMUNAL_TAX} левов – зафиксированная дневная плата за каждый день пребывания собственника или его гостей, арендаторов или пользователей, оплачиваемая при регистрации отъезда в последний день каждого пребывания (чек аут).</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><strong>Ал.2.</strong> Дължимите по настоящия договор такси се плащат по следната банкова сметка:<br>Банка: Първа инвестиционна банка АД<br>IBAN в лева: BG94 FINV 9150 1017 5387 16<br>BIC/SWIFT: FINVBGSF<br>Получател: Сънсет Рентал ЕООД</td>
            <td class="padding border-left" width="50%"><strong>П. 2.</strong> Сборы, причитающиеся по настоящему договору, следует выплатить на следующий банковский счет:<br>Банк: Fibank<br>IBAN / Номер Счета BGN:BG94FINV91501017538716<br>BIC/SWIFT: FINVBGSF<br>Получатель: Sunset Rental EOOD</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.3, ал.1.</strong> С цел определяне престоя на <strong>СОБСТВЕНИКА</strong> в имота си, същият се задължава да извърши регистрация при пристигането си и преди настаняването си в имота. Регистрацията се извършва на рецепцията в сграда Сигма в к-с „Сънсет Ризорт“ град Поморие.</td>
            <td class="border-left" width="50%"><strong>Ст. 3, п. 1.</strong> Чтобы определить время пребывания <strong>СОБСТВЕННИКА</strong> в его объекте недвижимости, он обязан зарегистрироваться по прибытии и до размещения. Регистрация осуществляется на приемной стойке в здании «Сигма» в комплекс «Сансет Ресорт» - город Поморие.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Ал.2. ДРУЖЕСТВОТО</strong> се задължава да осигури електрическа енергия и вода в имота на СОБСТВЕНИКА, само след регистрация на собственика, съобразно предходната алинея.</td>
            <td class="border-left" width="50%"><strong>П. 2. ОБЩЕСТВО</strong> обязуется обеспечить электрическую энергию и воду в объекте недвижимости СОБСТВЕННИКА, только после регистрации собственника, сообразно предыдущему пункту.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.4.</strong> При неплащане на дължимите от собственика такси, <strong>ДРУЖЕСТВОТО</strong> има право незабавно да преустанови осигуряването на ел. енергия и вода до имота на <strong>СОБСТВЕНИКА</strong>.</td>
            <td class="border-left" width="50%"><strong>Ст. 4.</strong> В случае неуплаты сборов, причитающихся с собственника, <strong>ОБЩЕСТВО</strong> имеет право немедленно приостановить подачу электрическую энергию и воду в объект недвижимости <strong>СОБСТВЕННИКА</strong>.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.5.</strong> За осигурените електрическа енергия и вода, които не са платени своевременно, <strong>СОБСТВЕНИКЪТ</strong> дължи на <strong>ДРУЖЕСТВОТО</strong> неустойка в размер на 0,1% на ден върху общо дължимата сума, но не по-вече от 20 % от същата.</td>
            <td class="border-left" width="50%"><strong>Ст. 5.</strong> За предоставленные электрическую энергию и воду, которые не оплачены вовремя, с <strong>СОБСТВЕННИКА</strong> причитается <strong>ОБЩЕСТВУ</strong> штраф в размере 0,1 % в день от общей суммы к оплате, но не более 20 % от той же суммы.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.6.</strong> В случай, че след края на 2023 г. се установи увеличаване с над 10 % на цената на електрическата енергия, вода, такси за канализация и други такси дължими от ДРУЖЕСТВОТО към „ЕВН България Електроснабдяване“ ЕАД и „Водоснабдяване и канализация – Бургас “ ЕАД, то страните се договарят да актуализират цената по чл. 2 от настоящия договор.</td>
            <td class="border-left" width="50%"><strong>Ст. 6.</strong> В том случае, если после конца 2023 года будет установлено увеличение более чем на 10 % стоимости электрической энергии, воды, канализации и других сборов, подлежащих уплате ОБЩЕСТВОМ в адрес ЕАО «ЕВН Болгария Электроснабжение» и ЕАО «Водоснабжение и канализация – гор. Бургас», стороны договариваются актуализировать цену согласно ст. 2 настоящего договора.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.7.</strong> При прекратяване на настоящия договор, ДРУЖЕСТВОТО преустановява изпълнение на задълженията си по него.</td>
            <td class="border-left" width="50%"><strong>Ст. 7.</strong> При расторжении настоящего договора ОБЩЕСТВО прекращает выполнение своих обязательств по нему.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">Настоящия договор се подписа в два еднообразни екземпляра, по един за всяка от страните по него.</td>
            <td class="border-left" width="50%">Настоящий договор был подписан в двух идентичных экземплярах, по одному для каждой из сторон по нему.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom font-size-8">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Собственика</strong> / Для <strong>Собственника</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Дружеството</strong> / Для <strong>Общество</strong></td>
        </tr>
        <tr>
            <td class="text-center font-size-8" width="50%">Страница <strong>2</strong> от <strong>2</strong></td>
            <td class="text-center font-size-8" width="50%">Страница <strong>2</strong> от <strong>2</strong></td>
        </tr>
    </tbody>
</table>

</body>
</html>
