<!doctype html>
<html lang="bg">
<head dir="ltr">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Communal Fee Contract</title>
    <style type="text/css">
        html {
            margin: 50px 50px 20px 50px;
        }

        body {
            font-family: 'DejaVu Sans';
            font-size: 10px;
            line-height: 0.85em;
        }

        .font-size-7 {
            font-size: 7px;
        }

        .font-size-8 {
            font-size: 8px;
        }

        .font-size-12 {
            font-size: 12px;
        }

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 11px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            padding: 0;
        }

        .break {
            page-break-after: always;
        }

        table tr td {
            vertical-align: top;
            padding: 0 10px;
            line-height: 0.85em;
        }

        td.padding {
            padding: 10px;
        }

        .border {
            border: 1px solid #000;
        }

        .border-bottom {
            border-bottom: 1px solid #000;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>

<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="padding" width="100%"><h1>ДОГОВОР</h1></td>
        </tr>
        <tr>
            <td class="padding" width="100%">Днес ${DATE} в гр. Поморие между:</td>
        </tr>
        <tr>
            <td width="100%">1. <strong>${NAMES}</strong>, с постоянен адрес <strong>${ADDRESSES}</strong>, като собственик на Апартамент № <strong>${APARTMENT}</strong> в сграда ${BUILDINGNAME-BG}, в комплекс „Сънсет Ризорт“ град Поморие, с административен адрес град Поморие, ул. „Княз Борис 1“ № 219, с ел. адрес за кореспонденция ${EMAILS}, наричан <strong>СОБСТВЕНИК</strong> от една страна</td>
        </tr>
        <tr>
            <td class="padding" width="100%">И</td>
        </tr>
        <tr>
            <td width="100%">2. <strong>СЪНСЕТ РЕНТАЛ ЕООД</strong>, с ЕИК 205862836, със седалище и адрес на управление в ул. Чайка 1, 8201, Поморие, България, представлявано от управителя БОЖИДАР РУСЕВ НИКОЛОВ, с ЕГН 8502035884, и л.к. № 640712184, с ел. адрес за кореспонденция: management@sunseresort.bg, наричано <strong>ДРУЖЕСТВОТО</strong> от друга страна, се сключи следния договор:</td>
        </tr>
        <tr>
            <td class="padding" width="100%"><strong><em>Страните, като отчетоха следните обстоятелства:</em></strong></td>
        </tr>
        <tr>
            <td width="100%">1. <strong>СЪНСЕТ РЕНТАЛ ЕООД</strong>, с ЕИК 205862836 е единствен Клиент за доставка на електрическа енергия към електроразпределителното дружество „ЕВН България Електроснабдяване“ ЕАД, обслужващо всички сгради и съоръжения в комплекс „Сънсет Ризорт“ в град Поморие, в който се намира имота на <strong>СОБСТВЕНИКА</strong>.</td>
        </tr>
        <tr>
            <td width="100%">2. <strong>СЪНСЕТ РЕНТАЛ ЕООД</strong>, с ЕИК 205862836 е единствен Клиент за доставка на вода и обслужване на канализация към водоснабдителното дружество „Водоснабдяване и канализация - Бургас“ ЕАД обслужващо всички сгради и съоръжения в к-с „Сънсет Ризорт“ в град Поморие, в който се намира имота на <strong>СОБСТВЕНИКА</strong>.</td>
        </tr>
        <tr>
            <td width="100%">3. <strong>СЪНСЕТ РЕНТАЛ ЕООД</strong>, с ЕИК 205862836 заплаща на електроразпределителното дружество „ЕВН България Електроснабдяване“ ЕАД, както и на водоснабдителното дружество „Водоснабдяване и канализация – Бургас “ ЕАД цялата консумирана електрическа енергия и вода, както и всички дължими към съответните дружества такси за к-с „Сънсет Ризорт“ град Поморие, включително и консумираната ел. енергия и вода в имота на <strong>СОБСТВЕНИКА</strong>.</td>
        </tr>
        <tr>
            <td width="100%">4. Налице е техническа и правна невъзможност да бъдат обособени индивидуални партиди на <strong>СОБСТВЕНИКА</strong> за доставка на електрическа енергия и за вода, обслужващи апартамента му, находящ се в к-с „Сънсет Ризорт“ в град Поморие.</td>
        </tr>
        <tr>
            <td class="padding" width="100%"><strong><em>Се споразумяха за следното:</em></strong></td>
        </tr>
        <tr>
            <td width="100%"><strong>Чл.1. ДРУЖЕСТВОТО</strong> ще осигурява електрическа енергия и вода в имота на <strong>СОБСТВЕНИКА</strong>, при условията на настоящия договор.</td>
        </tr>
        <tr>
            <td width="100%"><strong>Чл.2, ал.1.</strong> СОБСТВЕНИКЪТ се задължава да плаща на ДРУЖЕСТВОТО за ползваната в имота му електрическа енергия, вода и канализация следните такси:</td>
        </tr>
        <tr>
            <td width="100%">1. ${ANNUAL_COMMUNAL_TAX} лева – ежегодна годишна такса, платима до края на предходната календарна година. Падежът на таксата за 2021 г. е 15.06.2021 г.</td>
        </tr>
        <tr>
            <td width="100%">2. ${DAILY_COMMUNAL_TAX} лева – фиксирана дневна такса за всеки ден престой на собственика или негови гости, наематели или ползватели, платима в момента на регистрация на заминаване през последният ден на всеки престой (чек-аут).</td>
        </tr>
        <tr>
            <td class="padding" width="100%"><strong>Ал.2.</strong> Дължимите по настоящия договор такси се плащат по следната банкова сметка:<br>Банка: Първа инвестиционна банка АД<br>IBAN в лева: BG94 FINV 9150 1017 5387 16<br>BIC/SWIFT: FINVBGSF<br>Получател: Сънсет Рентал ЕООД</td>
        </tr>
       <tr>
            <td width="100%"><strong>Чл.3, ал.1.</strong> С цел определяне престоя на <strong>СОБСТВЕНИКА</strong> в имота си, същият се задължава да извърши регистрация при пристигането си и преди настаняването си в имота. Регистрацията се извършва на рецепцията в сграда Сигма в к-с „Сънсет Ризорт“ град Поморие.</td>
        </tr>
        <tr>
            <td width="100%"><strong>Ал.2. ДРУЖЕСТВОТО</strong> се задължава да осигури електрическа енергия и вода в имота на СОБСТВЕНИКА, само след регистрация на собственика, съобразно предходната алинея.</td>
        </tr>
        <tr>
            <td width="100%"><strong>Чл.4.</strong> При неплащане на дължимите от собственика такси, <strong>ДРУЖЕСТВОТО</strong> има право незабавно да преустанови осигуряването на ел. енергия и вода до имота на <strong>СОБСТВЕНИКА</strong>.</td>
        </tr>
        <tr>
            <td width="100%"><strong>Чл.5.</strong> За осигурените електрическа енергия и вода, които не са платени своевременно, <strong>СОБСТВЕНИКЪТ</strong> дължи на <strong>ДРУЖЕСТВОТО</strong> неустойка в размер на 0,1% на ден върху общо дължимата сума, но не по-вече от 20 % от същата.</td>
        </tr>
        <tr>
            <td width="100%"><strong>Чл.6.</strong> В случай, че след края на 2023 г. се установи увеличаване с над 10 % на цената на електрическата енергия, вода, такси за канализация и други такси дължими от ДРУЖЕСТВОТО към „ЕВН България Електроснабдяване“ ЕАД и „Водоснабдяване и канализация – Бургас “ ЕАД, то страните се договарят да актуализират цената по чл. 2 от настоящия договор.</td>
        </tr>
        <tr>
            <td width="100%"><strong>Чл.7.</strong> При прекратяване на настоящия договор, ДРУЖЕСТВОТО преустановява изпълнение на задълженията си по него.</td>
        </tr>
        <tr>
            <td width="100%">Настоящия договор се подписа в два еднообразни екземпляра, по един за всяка от страните по него.</td>
        </tr>
        <tr>
            <td width="100%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Собственика</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Дружеството</strong></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center font-size-8" width="100%">Страница <strong>1</strong> от <strong>1</strong></td>
        </tr>
    </tbody>
</table>

</body>
</html>
