<!doctype html>
<html lang="ru">
<head dir="ltr">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pool Usage Contract</title>
    <style type="text/css">
        html {
            margin: 50px 50px 20px 50px;
        }

        body {
            font-family: 'DejaVu Sans';
            font-size: 10px;
            line-height: 0.85em;
        }

        .font-size-7 {
            font-size: 7px;
        }

        .font-size-8 {
            font-size: 8px;
        }

        .font-size-12 {
            font-size: 12px;
        }

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 11px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            padding: 0;
        }

        .break {
            page-break-after: always;
        }

        table tr td {
            vertical-align: top;
            padding: 0 10px;
            line-height: 0.85em;
        }

        td.padding {
            padding: 10px;
        }

        .border {
            border: 1px solid #000;
        }

        .border-right {
            border-right: 1px solid #000;
        }

        .border-left {
            border-left: 1px solid #000;
        }

        .border-bottom {
            border-bottom: 1px solid #000;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>

<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="padding border-right" width="50%"><h1>ДОГОВОР</h1></td>
            <td class="padding border-left" width="50%"><h1>ДОГОВОР</h1></td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%">Днес ${DATE} в гр. Поморие между:</td>
            <td class="padding border-left" width="50%">Сегодня, ${DATE} года, в городе Поморие, между:</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">1. <strong>${NAMES}</strong>, с постоянен адрес <strong>${ADDRESSES}</strong>, с ел. адрес за кореспонденция ${EMAILS}, като собственик на Апартамент № <strong>${APARTMENT}</strong> в сграда ${BUILDINGNAME-BG}, в комплекс „Сънсет Ризорт“ град Поморие, наричан <strong>СОБСТВЕНИК</strong> от една страна</td>
            <td class="border-left" width="50%">1. <strong>${NAMES}</strong>, зарегистрированный по адресу <strong>${ADDRESSES}</strong>, адрес электронной почты для переписки ${EMAILS}, в качестве собственника Квартиры № <strong>${APARTMENT}</strong> в здании ${BUILDINGNAME}, в комплексе «Сансет Ресорт» - город Поморие, именуемый <strong>СОБСТВЕННИК</strong>, с одной стороны</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%">И</td>
            <td class="padding border-left" width="50%">И</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2. <strong>СЪНСЕТ РИЗОРТ МЕНИДЖМЪНТ ЕООД</strong>, със седалище и адрес на управление: ул. “Княз Борис I“ №219, 8201, Поморие, България, вписано в ТР при Агенцията по вписванията в Република България с ЕИК 147026266, с ел. адрес за кореспонденция: management@sunseresort.bg, представлявано от управителя ТОДОР ПАНАЙОТОВ, с ЕГН 5509130609 наричано <strong>ДРУЖЕСТВОТО</strong> от друга страна, се сключи следния договор за следното:</td>
            <td class="border-left" width="50%">2. <strong>ЕООО САНСЕТ РЕСОРТ МЕНЕДЖМЕНТ</strong>, местонахождение и юридический адрес: гор. Поморие, почтовый индекс 8200, ул. «Князь Борис I» № 219, зарегистрированное в Торговом реестре при Агентстве по записям Республики Болгарии за ЕИК (единый идентификационный код): 147026266, адрес электронной почты для переписки: management@sunseresort.bg в лице Тодора Панайотова, ЕГН (единый гражданский номер): 5509130609, именуемое <strong>ОБЩЕСТВО</strong>, с другой стороны, был заключен следующий договор о нижеследующем:</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.1. ДРУЖЕСТВОТО</strong> предоставя на <strong>СОБСТВЕНИКА</strong> за временно, възмездно ползване всички външни басейни на територията на комплекс „Сънсет Ризорт“, разположени в поземлени имоти с идентификатори № 57491.509.24 и №57491.509.1 в град Поморие, в който курортен комплекс се намира имота на <strong>СОБСТВЕНИКА</strong>, при условията на настоящия договор.</td>
            <td class="border-left" width="50%"><strong>Ст.1. ОБЩЕСТВО</strong> предоставляет <strong>СОБСТВЕННИКУ</strong> во временно, возмездное пользование все открытые бассейны на территории комплекса «Сансет Ресорт», расположенные на земельных участках за идентификаторами № 57491.509.24 и № 57491.509.1 в городе Поморие, а в этом курортном комплексе находится объект недвижимости <strong>СОБСТВЕННИКА</strong>, на условиях настоящего договора.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.2, ал.1. СОБСТВЕНИКЪТ</strong> се задължава, за ползването на всички външни басейни на територията на к-с „Сънсет Ризорт“ в град Поморие, за периода от 01.05.2021г. до 30.09.2021г., да заплати на <strong>ДРУЖЕСТВОТО</strong> сумата в размер на <strong>${POOL_TAX} лева</strong> – ежегодна годишна такса, платима в срок до 20.05.2021 г.</td>
            <td class="border-left" width="50%"><strong>Ст. 2, п. 1. СОБСТВЕННИК</strong> обязуется за использование всех открытых бассейнов на территории комплекса «Сансет Ресорт» в городе Поморие, за период с 01.05.2021 года до 30.09.2021 года заплатить <strong>ОБЩЕСТВУ</strong> сумму в размере <strong>${POOL_TAX} левов</strong>, которую следует заплатить сроком до 20.05.2021 года.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Ал.2.</strong> Дължимите по настоящия договор суми се плащат по следната банкова сметка:<br>Банка: Първа инвестиционна банка АД<br>Адрес: бул. “Драган Цанков“ №37, гр.София 1797<br>IBAN в лева: BG89FINV91501017377495<br>BIC/SWIFT: FINVBGSF<br>Получател: Сънсет Ризорт Мениджмънт ЕООД</td>
            <td class="border-left" width="50%"><strong>П.2.</strong> Суммы, причитающиеся по настоящему договору, следует заплатить на следующем банковском счете:<br>Банк: АО «Первый Инвестиционный Банк»<br>Адрес: бул. «Драган Цанков» № 37, гор. София, 1797<br>IBAN в левах: BG89FINV91501017377495<br>BIC: FINVBGSF<br>Получатель: Сънсет Ризорт Мениджмънт ЕООД</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.3, ал.1.</strong> Срещу платената от <strong>СОБСТВЕНИКА</strong> сума посочена в чл.2 от договора, същият има право и получава ${POOL_BRACELETS} броя гривни с дигитален чип за времето на престоя си в апартамента, като възрастта на ползвателя е без значение (от 0 до 99 години). В случай, че <strong>СОБСТВЕНИКЪТ</strong> желае да получи допълнителни гривни за този престой над посочената бройка от ${POOL_BRACELETS}, то същият следва да заплати по 20,00 лева на ден за всяка допълнителна гривна.</td>
            <td class="border-left" width="50%"><strong>Ст. 3, п. 1.</strong> За сумму, уплаченную <strong>СОБСТВЕННИКОМ</strong> указанную в ст. 2 договора, он имеет право и получает ${POOL_BRACELETS} шт. браслетов с цифровым чипом на время своего пребывания в квартире, а возраст пользователя значения не имеет (от 0 до 99 лет). В том случае, если <strong>СОБСТВЕННИК</strong> желает получить дополнительные браслеты за это пребывание сверх указанного количества в ${POOL_BRACELETS} шт., то ему/ей следует заплатить 20,00 левов в день за каждый дополнительный браслет.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Ал.2.</strong> С цел определяне престоя на <strong>СОБСТВЕНИКА</strong> в имота си и определяне броя на гривните, които желае да получи, същият се задължава да извърши регистрация при пристигането си и преди настаняването си в имота, както и да посочи, кои точно лица ще получат гривни за достъп до басейните. Регистрацията се извършва на рецепция Собственици в сграда Сигма, етаж минус 1 в к-с „Сънсет Ризорт“ град Поморие.</td>
            <td class="border-left" width="50%"><strong>П.2.</strong> Чтобы определить время пребывания <strong>СОБСТВЕННИКА</strong> в его объекте недвижимости и определить количество браслетов, которые он желает получить, он обязуется зарегистрироваться по прибытии и до размещения в объекте недвижимости, а также указать, какие точно лица получат браслеты для доступа к бассейнам. Регистрация производится на приемной стойке Собственников в здании Сигма, этаж минус 1 в комплексе „Сансет Ресорт“ - город Поморие.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Ал.3.</strong> След получаването на гривните за достъп до басейните, посочените от <strong>СОБСТВЕНИКА</strong> лица нямат право да ги свалят от ръцете си, както и нямат право да предоставят за ползване получените гривни на трети лица за времето на престоя си в комплекса.</td>
            <td class="border-left" width="50%"><strong>П.3.</strong> После получения браслетов для доступа к бассейнам указанные <strong>СОБСТВЕННИКОМ</strong> лица не имеют права снимать их с рук, а также не имеют права предоставлять полученные браслеты в пользование третьим лицам во время своего пребывания в комплексе.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table class="break" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom font-size-8">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Собственика</strong> / Для <strong>Собственника</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Дружеството</strong> / Для <strong>Общество</strong></td>
        </tr>
        <tr>
            <td class="text-center font-size-8" width="50%">Страница <strong>1</strong> от <strong>2</strong></td>
            <td class="text-center font-size-8" width="50%">Страница <strong>1</strong> от <strong>2</strong></td>
        </tr>
    </tbody>
</table>
<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="padding border-right" width="50%"><strong>Чл.4. СОБСТВЕНИКЪТ</strong> няма право да запазва места и да резервира шезлонги около външните басейни на територията на к-с „Сънсет Ризорт“ в град Поморие.</td>
            <td class="padding border-left" width="50%"><strong>Ст. 4. СОБСТВЕННИК</strong> не имеет права бронировать места и шезлонги возле открытых бассейнов на территории комплекса «Сансет Ресорт» в гор. Поморие.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.5.</strong> Срещу заплатената от <strong>СОБСТВЕНИКА</strong> сума посочена в чл.2 от договора, <strong>ДРУЖЕСТВОТО</strong> му предоставя свободен достъп до всички външни басейни на територията на к-с „Сънсет Ризорт“ в град Поморие, при условията на настоящия договор.</td>
            <td class="border-left" width="50%"><strong>Ст. 5.</strong> За сумму, уплаченную <strong>СОБСТВЕННИКОМ</strong> указанную в ст. 2 договора, <strong>ОБЩЕСТВО</strong> предоставляет ему свободный доступ ко всем открытым бассейнам на территории комплекса «Сансет Резорт» в городе Поморие, в соответствии с условиями настоящего договора.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.6. ДРУЖЕСТВОТО</strong> не гарантира и няма задължение да осигурява свободни шезлонги и чадър.</td>
            <td class="border-left" width="50%"><strong>Ст. 6. ОБЩЕСТВО</strong> не гарантирует и не обязана предоставлять свободные шезлонги и зонтики.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><strong>Чл.7.</strong> При прекратяване на настоящия договор и/или изтичане на срока му, <strong>ДРУЖЕСТВОТО</strong> преустановява изпълнение на задълженията си по него.</td>
            <td class="border-left" width="50%"><strong>Ст. 7.</strong> При расторжении настоящего контракта и/или истечении его срока, <strong>ОБЩЕСТВО</strong> прекращает выполнение своих обязательств по нему.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">Настоящия договор се подписа в два еднообразни екземпляра, по един за всяка от страните по него.</td>
            <td class="border-left" width="50%">Настоящий договор был подписан в двух идентичных экземплярах, по одному для каждой из сторон по нему.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom font-size-8">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Собственика</strong> / Для <strong>Собственника</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Дружеството</strong> / Для <strong>Общество</strong></td>
        </tr>
        <tr>
            <td class="text-center font-size-8" width="50%">Страница <strong>2</strong> от <strong>2</strong></td>
            <td class="text-center font-size-8" width="50%">Страница <strong>2</strong> от <strong>2</strong></td>
        </tr>
    </tbody>
</table>

</body>
</html>
