<!doctype html>
<html lang="en">
<head dir="ltr">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rental Contract</title>
    <style type="text/css">
        html {
            margin: 50px 50px 20px 50px;
        }

        body {
            font-family: 'DejaVu Sans';
            font-size: 10px;
            line-height: 0.85em;
        }

        .font-size-7 {
            font-size: 7px;
        }

        .font-size-8 {
            font-size: 8px;
        }

        .font-size-12 {
            font-size: 12px;
        }

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 11px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            padding: 0;
        }

        .break {
            page-break-after: always;
        }

        table tr td {
            vertical-align: top;
            padding: 0 10px;
            line-height: 0.85em;
        }

        td.padding {
            padding: 10px;
        }

        .border {
            border: 1px solid #000;
        }

        .border-right {
            border-right: 1px solid #000;
        }

        .border-left {
            border-left: 1px solid #000;
        }

        .border-bottom {
            border-bottom: 1px solid #000;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>

<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="padding border-right" width="50%"><h1>ДОГОВОР ЗА НАЕМ</h1></td>
            <td class="padding border-left" width="50%"><h1>ДОГОВОР АРЕНДЫ</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">Днес ${DATE} се сключи следния договор за наем (“Договора”) между:</td>
            <td class="border-left" width="50%">Сегодня ${DATE} был заключен следующий договор аренды («Договор») между:</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><strong>${NAMES}</strong>, с адрес <strong>${ADDRESSES}</strong>, наричани(а) по-долу “Наемодател”,</td>
            <td class="padding border-left" width="50%"><strong>${NAMES}</strong>, адрес <strong>${ADDRESSES}</strong>, именуемые (-ая) в дальнейшем «Арендодатель»,</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">И</td>
            <td class="border-left" width="50%">И</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><strong>${COMPANY-BG}</strong>, ЕИК ${BULSTAT}, със седалище и адрес на управление ${ADDRESS-BG}, представлявано от управителя ${MANAGER-BG}, с ЕГН ${EGN}, наричано по-долу за краткост в договора “Наемател”,</td>
            <td class="padding border-left" width="50%"><strong>${COMPANY}</strong>, ЕИК (единый идентификационный код): ${BULSTAT}, местонахождение и юридический адрес ${ADDRESS}, в лице управляющего ${MANAGER}, ЕГН (единый гражданский номер): ${EGN}, именуемое в дальнейшем для краткости в договоре «Арендатор»,</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">Като разгледаха условията уточнени по-долу, страните постигнаха съгласие по следното:</td>
            <td class="border-left" width="50%">Рассмотрев указанные ниже условия, стороны договорились о нижеследующем:</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><h1>1. ПРЕДМЕТ НА ДОГОВОРА</h1></td>
            <td class="padding border-left" width="50%"><h1>1. ПРЕДМЕТ ДОГОВОРА</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">1.1. Наемодателят се задължава да предостави на Наемателя ползването на следния свой недвижим имот – апартамент № <strong>${APARTMENT}</strong> (“Апартамента”), находящ се в комплекс Сънсет Ризорт, Поморие срещу задължението на Наемателя да му заплаща наемна цена в срок и при условия, определени в този Договор.</td>
            <td class="border-left" width="50%">1.1. Арендодатель обязуется предоставить Арендатору в пользование следующий свой объект недвижимости – квартира № <strong>${APARTMENT}</strong> («Квартира»”), которая находится в комплексе «Сансет Ризорт», гор. Поморие за обязательство Арендатора оплачивать ему арендную цену сроком и на условиях, установленных в настоящем Договоре.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">1.2. Наемателят има право да използва Апартамента за жилищни нужди и/или за осъществяване с него на туристически дейности по смисъла на Закона за туризма.</td>
            <td class="border-left" width="50%">1.2. Арендатор имеет право использовать Квартиру для жилых нужд и/или для осуществления ей туристических видов деятельности по смыслу Закона о туризме.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">1.3. Наемателят има право свободно да преотдава под наем Апартамента на трети лица при условия и наемна цена каквито договори.</td>
            <td class="border-left" width="50%">1.3. Арендатор имеет право свободно пересдавать в аренду Квартиру третьим лицам на условиях и за арендную цену, какие оговорит.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><h1>2. НАЕМНА ЦЕНА. НАЧИН НА ПЛАЩАНЕ</h1></td>
            <td class="padding border-left" width="50%"><h1>2. АРЕНДНАЯ ЦЕНА. ПОРЯДОК ОПЛАТЫ</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2.1. За ползването на Апартамента Наемателят ще заплати на Наемодателя наемна цена съгласно последващите разпоредби.</td>
            <td class="border-left" width="50%">2.1. За использование Квартиры Арендатор заплатит Арендодателю арендную цену согласно последующим положениям.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2.1.1. Наемната цена, представлява сума, равна на дължимите от Наемодателя суми на Етажната собственост, като заплащане на таксата за поддръжка и управление на имота за ${MM-YEAR-1} година по т.1.1.</td>
            <td class="border-left" width="50%">2.1.1. Арендной цены представляет собой сумму, равняющуюся причитающейся с Арендодателя сумму этажной собственности, как оплата взносы за обслуживание и управление объектом недвижимости за ${MM-YEAR-1} года согласно п. 1.1.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2.1.2. Тази цена ще се плати от Наемателя направо по сметката на Етажната собственост от името и за сметка на Наемодателя.</td>
            <td class="border-left" width="50%">2.1.2. Эта цена будет уплачена Арендатором непосредственно на счете Этажной собственности от имени и за счет Арендодателя.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2.1.3. Цената по т.2.1.1. се заплаща от Наемателя на Етажната собственост в рамките на текущата година, но задължително в срока, указан от Етажната собственост за заплащане на таксата за поддръжка и управление за ${MM-YEAR-1} година.</td>
            <td class="border-left" width="50%">2.1.3. Цена согласно п. 2.1.1. оплачивается Арендатором Этажной собственности в течение текущего года, но обязательно в срок, указанный Этажной собственностью для оплаты взноса за обслуживание и управление за ${MM-YEAR-1} года.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2.1.4. Цената по т.2.1.1. се заплаща от Наемателя на Етажната собственост, без значение дали решението на Общото събрание на Етажната собственост се обжалва или е отменено поради каквато и да е било причина.</td>
            <td class="border-left" width="50%">2.1.4. Цена согласно п. 2.1.1. оплачивается Арендатором Этажной собственности, независимо от того, обжаловано или отменено решение Общего собрания Этажной собственности по любой причине.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2.1.5. Върху цената по т.2.1.1. се дължи „данък при източника“, която сума ще бъда удържана от цената.</td>
            <td class="border-left" width="50%">2.1.5. На цену согласно п. 2.1.1. причитается «налог у источника», а эта сумма будет вычтена из цены.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2.2. Наемодателят заявява, че приема посочените в предходните разпоредби плащания за валидни и редовни плащания на наемната цена.</td>
            <td class="border-left" width="50%">2.2. Арендодатель заявляет, что принимает указанные в предыдущих положениях платежи действительными и регулярными платежами арендной цены.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table class="break" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Наемателя</strong> / Для <strong>Арендатору</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Наемодателя</strong> / Для <strong>Арендодателю</strong></td>
        </tr>
        <tr>
            <td class="text-center font-size-8" width="50%">Страница <strong>1</strong> от <strong>4</strong></td>
            <td class="text-center font-size-8" width="50%">Страница <strong>1</strong> от <strong>4</strong></td>
        </tr>
    </tbody>
</table>
<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="border-right" width="50%">2.3. Наемателят има право да извършва приспадане на дължимия наем със суми, дължими от Наемодателя за потребление на вода, ел. енергия, телефон, както и всякакви други услуги, предоставени на Наемодателя или негови гости на територията на комплекса. Наемателят има право да извърша приспадане на суми за покриване на разходи по отстраняването на щети причинени от Наемодателят или негови гости (дори и ако не са отседнали в апартамента) по общите части и територията на сградата и комплекса като цяло.</td>
            <td class="border-left" width="50%">2.3. Арендатор имеет право вычитывать причитающуюся арендную плату из сумм, причитающихся Арендодателю за потребление воды, электричества, телефона, а также любые иные услуги, оказываемые Арендодателю или его гостям на территории комплекса. Арендатор имеет право удержание сумм на покрытие затрат на устранение ущербов, причиненных Арендодателем или его гостями (даже если они не проживают в квартире) на общих частях и на территории здания и комплекса в целом.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><h1>3. СРОК НА ДОГОВОРА</h1></td>
            <td class="padding border-left" width="50%"><h1>3. СРОК ДЕЙСТВИЯ ДОГОВОРА</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">3.1. Този Договор се сключва за срок от ${CONTRACT-DURATION} години, т.е. от ${CONTRACT-FROM} до ${CONTRACT-TO} г. включително.</td>
            <td class="border-left" width="50%">3.1. Настоящий Договор заключает сроком на ${CONTRACT-DURATION} года, т.е. с ${CONTRACT-FROM} года до ${CONTRACT-TO} года включительно.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><h1>4. ОБЗАВЕЖДАНЕ НА АПАРТАМЕНТА</h1></td>
            <td class="padding border-left" width="50%"><h1>4. МЕБЛИРОВКА КВАРТИРЫ</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">4.1. Наемодателят предлага за отдаване под наем целия апартамент и е длъжен да го предаде на Наемателя в състояние, отговарящо на ползването, за което е нает и изцяло обзаведен. Наемодателят е длъжен да осигури доброто състояние на имота в срока на договора и за периода на ползването за което е нает под наем. Наемодателят на апартамента е отговорен за обзавеждането и поддържането на апартамента в отлично за отдаване под наем състояние, с пълна мебелировка, оборудване и електро обзавеждане, в съответствие със спецификацията изисквана от тур-оператора / туристите.</td>
            <td class="border-left" width="50%">4.1. Арендодатель предлагает для сдачи в аренду всю квартиру и обязан сдать ее Арендатору в состоянии, соответствующем использованию, для которого она сдается, и полностью меблированной. Арендодатель обязан обеспечить хорошее состояние объекта недвижимости в течение срока действия договора и в течение периода использования, для которого он сдается в аренду. Арендодатель квартиры несет ответственность за меблировку и обслуживание квартиры в отличном состоянии для сдачи в аренду, с полной меблировкой, оборудованием и электрической оснащенностью, в соответствии со спецификацией, требуемой туроператором / туристами.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">4.2. В случай, че по времето на действие на този договор бъде установен технически проблем или дефект на апартамента като цяло (оборудване, части от техническата инсталация в апартамента, течове и пр.), които възпрепятстват използването на апартамента за целта на този договор, то тези проблеми трябва да бъдат отстранени възможно най-бързо (в рамките на 10 дена от установяването и уведомяването на Наемодателя) от Наемодателя за негова сметка. В случай, че това не бъде направено в указаният срок и по необходимият начин, Наемателят има право едностранно да прекрати настоящият договор с едноседмично предизвестие и да търси обезщетение от Наемодателя за пропуснатите ползи от тези обстоятелства.</td>
            <td class="border-left" width="50%">В том случае, если в течение срока действия настоящего договора будет выявлена техническая проблема или дефект квартиры в целом (оборудование, части технической установки в квартире, протечки и т. д.), которые препятствуют использованию квартиры в целях настоящего договора, проблемы должны быть устранены как можно скорее (в течение 10 дней с момента выявления и уведомления Арендодателя) Арендодателем за его счет. В том случае, если это не будет сделано в течение указанного периода и необходимым образом, Арендатор имеет право в одностороннем порядке расторгнуть настоящий договор однонедельным предуведомлением и потребовать от Арендодателя компенсации за утраченные выгоды в результате этих обстоятельств.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">4.3. Наемателят не е отговорен за поправки, ремонти, възстановяване, редекориране, или каквито и да е други разходи породени от износване, остаряване или амортизация. Всички такива разходи са за сметка на Наемодателя. Наемателят ще положи усилия да уведоми Наемодателя предварително за необходимите разходи за ремонт, поддръжка и подмяна на мебели и оборудване.</td>
            <td class="border-left" width="50%">4.3. Арендатор не несет ответственности за починки, ремонты, восстановление, косметический ремонт или любые иные расходы, связанные с износом, устареванием или амортизацией. Все такие расходы за счет Арендодателя. Арендатор приложит все усилия, чтобы заранее уведомить Арендодателя о необходимых расходах на ремонт, техническое обслуживание и замену мебели и оборудования.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">4.4. Наемателят е длъжен да заплаща всички поправки, отнасящи се до повреди, които се дължат на договореното ползване на Апартамента, както и други повреди, причинени виновно от него или пренаемателите.</td>
            <td class="border-left" width="50%">4.4. Арендатор должен оплачивать все починки, связанные с повреждениями, возникшими в результате оговоренного использования Квартиры, а также с другими повреждениями, причиненными им или субарендами.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><h1>5. ДОСТЪП ДО АПАРТАМЕНТА</h1></td>
            <td class="padding border-left" width="50%"><h1>5. ДОСТУП К КВАРТИРЕ</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">5.1. Наемодателят е длъжен да осигури свободното и необезпокояваното ползване на Апартамента от Наемателя и пренаемателите, съобразно договорените начини на ползването му. Наемодателят е длъжен да предаде всички ключове за апартамента на Наемателя. Наемодателят няма право да сменя или да слага нова ключалка без предварителното писмено съгласие на Наемателят, и такива ключалки трябва да са в съответствие с настоящата система в комплекса за периода на действие на този договор.</td>
            <td class="border-left" width="50%">5.1. Арендодатель должен обеспечить свободное и беспрепятственное использование Квартиры Арендатором и субарендаторами в соответствии с оговоренными способами ее использования. Арендодатель должен передать все ключи от квартиры Арендатору. Арендодатель не имеет права менять или устанавливать новый замок без предварительного письменного согласия Арендатора, и такие замки должны быть в соответствии с действующей системой в комплексе на период действия настоящего договора.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table class="break" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Наемателя</strong> / Для <strong>Арендатору</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Наемодателя</strong> / Для <strong>Арендодателю</strong></td>
        </tr>
        <tr>
            <td class="text-center font-size-8" width="50%">Страница <strong>2</strong> от <strong>4</strong></td>
            <td class="text-center font-size-8" width="50%">Страница <strong>2</strong> от <strong>4</strong></td>
        </tr>
    </tbody>
</table>
<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="border-right" width="50%">5.2. Наемодателят е длъжен да уведоми Наемателя писмено поне тридесет (30) дни преди разпореждане (прехвърляне на собствеността върху апартамента) с Апартамента.</td>
            <td class="border-left" width="50%">5.2. Арендодатель должен в письменной форме уведомить Арендатора не менее чем за 30 (тридцать) дней до распоряжения (передачи права собственности на квартиру) Квартирой.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><h1>6. РАЗХОДИ ЗА ПОЛЗВАНЕ</h1></td>
            <td class="padding border-left" width="50%"><h1>6. РАСХОДЫ НА ИСПОЛЬЗОВАНИЕ</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">6.1. Наемателят е длъжен да заплаща разноските свързани с ползването на Апартамента (напр. ток, вода, почистване, телевизия, интернет, др. под.) за времето за което има настанени туристи. Наемателят също заплаща дължимата годишна комунална такса за електричество в Апартамента, касаеща срока на действие на този договор съгласно т.3.</td>
            <td class="border-left" width="50%">6.1. Арендатор должен оплачивать расходы, связанные с использованием квартиры (например, электричество, вода, уборка, телевидение, интернет и т. д.) за время, в течение которого размещены туристы. Арендатор также должен оплатить годовую коммунальную плату за электричество в Квартире в соответствии с условиями настоящего договора, указанными в пункте 3.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><h1>7. ПРЕКРАТЯВАНЕ НА ДОГОВОРА И НЕУСТОЙКИ</h1></td>
            <td class="padding border-left" width="50%"><h1>7. ПРЕКРАЩЕНИЕ ДЕЙСТВИЯ ДОГОВОРА И НЕУСТОЙКИ</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">7.1. Този Договор се прекратява само при наличие на което и да е от следните обстоятелства:</td>
            <td class="border-left" width="50%">7.1. Действие настоящего Договора прекращается только при наличии любого из следующих обстоятельств:</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">7.1.1. При промяна в собствеността на обекта на този Договор. В този случай, за дата на прекратяването се счита датата на Нотариалния акт, удостоверяващ промяната в собствеността. В случай, че не е спазено предизвестието от чл.5.2, за дата на прекратяване на договора се счита 30 дни след датата на нотариалният акт, с който е сменена собствеността на апартамента. В противен случай Наемодателят ще трябва да плати на Наемателят неустойка в троен размер на сумата, предплатена от туристите, които са настанени или следва да бъдат настанени в Апартамента.</td>
            <td class="border-left" width="50%">7.1.1. В случае изменения собственности на объект недвижимости настоящего Договора. В этом случае датой прекращения считается дата Нотариального акта, удостоверяющего смену собственности. В том случае, что не соблюдено предуведомление ст. 5.2, датой прекращения действия договора считается 30 дни после даты оформления нотариального акта, которым изменена собственность квартиры. В противном случае Арендодатель должен будет уплатить Арендатору неустойку в размере трехкратной суммы, предоплаченной туристами, которые размещаются или должны быть размещены в Квартире.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">7.1.2. С изтичане на срока на договора.</td>
            <td class="border-left" width="50%">7.1.2. Истечением срока действия договора.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">7.2. В случай на прекратяване на договора от страна на Наемодателя, без значение от основанието за прекратяването му, Наемателят не дължи на Наемодателя наем за текущата календарна година, по време на която е прекратен договора.</td>
            <td class="border-left" width="50%">7.2. В случае прекращения действия договора со стороны Арендодателя, без значения основания для прекращения его действия, с Арендатора не причитается Арендодателю арендная плата за текущий календарный год, по течение которого прекращено действие договора.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">7.3. В случай на прекратяване на този договор от страна на Наемодателя, Наемодателят дължи неустойка на Наемателя равна на сумата платена от Наемателя на Управителя на Етажната собственост за текущата година.</td>
            <td class="border-left" width="50%">7.3. В случае прекращения действия настоящего договора Арендодателем, Арендодатель должен выплатить Арендатору неустойку в размере суммы, уплаченной Арендатором Управляющему Этажной собственностью за текущий год.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><h1>8. ДРУГИ УГОВОРКИ</h1></td>
            <td class="padding border-left" width="50%"><h1>8. ПРОЧИЕ ДОГОВОРЕННОСТИ</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">8.1. Към този Договор се прилагат законите на Република България.</td>
            <td class="border-left" width="50%">8.1. К настоящему Договору применяются законы Республики Болгарии.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">8.2. Всички спорове, неясноти или искания, произтичащи от или отнасящи се до този Договор, неизпълнение по него, прекратяване или недействителност, които не могат да се разрешат по взаимно съгласие ще се отнасят за окончателно разрешаване от компетентния за това български съд.</td>
            <td class="border-left" width="50%">8.2. Все споры, неясности или запросы, возникающие в связи с настоящим Договором или связанные с ним, его неисполнение, прекращение действия или недействительность, которые не могут быть разрешены по взаимному согласию, будут направляться для окончательного разрешения в компетентный для этого болгарский суд.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">8.3. Настоящият Договор се състави на български и руски език. В случай на противоречие между текст на български и руски език, меродавен ще бъде текстът на руски език.</td>
            <td class="border-left" width="50%">8.3. Настоящее Договор составлен на болгарском и русском языках. В случае каких-либо противоречий между текстами на болгарском и русском языках, текст на русском языке текст имеет преимущественную силу.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">8.4. Всички съобщения и уведомления между страните следва да бъдат доставени на един или повече от адресите, посочени по-долу:</td>
            <td class="border-left" width="50%">8.4. Все сообщения и уведомления между сторонами должны быть доставлены на один или несколько адресов, перечисленных ниже:</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table class="break" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Наемателя</strong> / Для <strong>Арендатору</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Наемодателя</strong> / Для <strong>Арендодателю</strong></td>
        </tr>
        <tr>
            <td class="text-center font-size-8" width="50%">Страница <strong>3</strong> от <strong>4</strong></td>
            <td class="text-center font-size-8" width="50%">Страница <strong>3</strong> от <strong>4</strong></td>
        </tr>
    </tbody>
</table>
<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="padding border-right" width="50%">За Наемодателя:<br>Адрес: ${ADDRESSES}<br>E-mail: ${EMAILS}</td>
            <td class="padding border-left" width="50%">Арендодателя:<br>Адрес: ${ADDRESSES}<br>E-mail: ${EMAILS}</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">За Наемателя:<br>Адрес: ${ADDRESS-BG}<br>Факс: 00359 596 32019<br>E-mail: management@sunsetresort.bg</td>
            <td class="border-left" width="50%">Арендатора:<br>Адрес: ${ADDRESS}<br>Факс: 00359 596 32019<br>E-mail: management@sunsetresort.bg</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%">Договорът се подписа в два еднообразни екземпляра – по един за всяка от страните по него. Двете страни декларират, че са запознати с клаузите по настоящият Договор и го подписват в пълно съзнание и без чужда намеса.</td>
            <td class="padding border-left" width="50%">Настоящий Договор был подписан в двух идентичных экземплярах – по одному для каждой из сторон. Обе стороны декларируют, что они ознакомлены с положениями настоящего Договора, и подписывают его в полном сознании и без чужого вмешательства.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table class="break" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" class="padding text-center" width="100%"><strong class="border-bottom">ПОДПИСИ</strong></td>
        </tr>
        <tr>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Наемателя</strong> / Для <strong>Арендатору</strong></td>
            <td class="padding text-center" width="50%">----------------------------------------------------------<br>За <strong>Наемодателя</strong> / Для <strong>Арендодателю</strong></td>
        </tr>
        <tr>
            <td class="text-center font-size-8" width="50%">Страница <strong>4</strong> от <strong>4</strong></td>
            <td class="text-center font-size-8" width="50%">Страница <strong>4</strong> от <strong>4</strong></td>
        </tr>
    </tbody>
</table>
<table class="border" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td class="padding border-right" width="50%"><h1>СЪГЛАСИЕ ЗА ГЛАСУВАНЕ</h1></td>
            <td class="padding border-left" width="50%"><h1>СОГЛАСИЕ НА ГОЛОСОВАНИЕ</h1></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">Днес ${DATE}, долуподписаният,</td>
            <td class="border-left" width="50%">Сегодня, ${DATE}, нижеподписавшийся/-иеся,</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%"><strong>${OWNER-NAME}</strong>,<br>роден на ............................... в гр. ...............................<br>с адрес ${OWNER-ADDRESS}, в качеството си на собственик на апартамент, № <strong>${APARTMENT}</strong> в сграда ${BUILDINGNAME-BG}, ${BUILDINGDESCRIPTION-BG} в комплекс „Сънсет ризорт”, гр. Поморие,</td>
            <td class="padding border-left" width="50%"><strong>${OWNER-NAME}</strong>,<br>дата рождения ............................... место рождения ...............................<br>адрес прописки ${OWNER-ADDRESS}, в качестве собственников квартиры № <strong>${APARTMENT}</strong> в здании ${BUILDINGNAME} ${BUILDINGDESCRIPTION}, комплекс «Сансет ризорт» в городе Поморие</td>
        </tr>
        <tr>
            <td class="border-right" width="50%"><h1>ДАВАМ СЪГЛАСИЕ:</h1></td>
            <td class="border-left" width="50%"><h1>ДАЮ СОГЛАСИЕ:</h1></td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%">${PROXYNAME-BG}, ${PROXYDETAILS-BG}, собственик на индивидуален обект в сграда ${BUILDINGNAME-BG}, ${BUILDINGDESCRIPTION-BG}, в комплекс „Сънсет ризорт” град Поморие:</td>
            <td class="padding border-left" width="50%">${PROXYNAME}, ${PROXYDETAILS}, собственник индивидуального объекта в здании ${BUILDINGNAME} ${BUILDINGDESCRIPTION}, в комплексе «Сансет ризорт», город Поморие:</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">1. Да ме представлява пред Общите събрания на собствениците в сграда ${BUILDINGNAME-BG}, ${BUILDINGDESCRIPTION-BG}, като той / тя има право да гласува и взема решения от мое име изцяло по негова преценка без ограничение по всички въпроси, които се обсъждат на Общите събрания на собствениците на етажната собственост – извънредни или годишни.</td>
            <td class="border-left" width="50%">1. Быть моим представителем на Общих собраниях собственников в здании ${BUILDINGNAME} ${BUILDINGDESCRIPTION}, причем он / она имеет право голосовать и принимать решения от моего имени полностью по своему усмотрению без ограничений, по всем вопросам, которые обсуждаются на Общих собраниях собственников этажной собственности – чрезвычайных или годовых.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">2. Пълномощникът има право да гласува и взема решения от мое име изцяло по негова преценка без ограничение за определяне и събиране на паричната вноска за разходите за управление и поддръжка на общите части.</td>
            <td class="border-left" width="50%">2. Доверенное лицо имеет право голосовать и принимать решения от моего имени полностью по своему усмотрению без ограничений об определении и сборе денежного взноса на расходы за управление и обслуживание общих частей.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">3. Пълномощникът има право да гласува и взема решения от мое име изцяло по негова преценка без ограничение за определяне и събиране на вноски за Фонд „Ремонт и Обновяване“.</td>
            <td class="border-left" width="50%">3. Доверенное лицо имеет право голосовать и принимать решения от моего имени полностью по своему усмотрению без ограничения об определении и сборе взносов в Фонд «Ремонт и обновление».</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">4. Пълномощникът има право да гласува и взема решения от мое име изцяло по негова преценка без ограничение за разпореждане и използване на средствата събрани във Фонд „Ремонт и Обновяване“.</td>
            <td class="border-left" width="50%">4. Доверенное лицо имеет право голосовать и принимать решения от моего имени полностью по своему усмотрению без ограничения о распоряжении и использовании средств, собранных в Фонде «Ремонт и обновление».</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">5. Настоящото отменя всякакви други пълномощни дадени в този смисъл на други лица.</td>
            <td class="border-left" width="50%">5. Настоящее согласие отменяет любые иные доверенности, выданные в этом смысле другим лицам</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">6. Настоящето съгласие важи до ${EXPIRY}г.</td>
            <td class="border-left" width="50%">6. Настоящее согласие действительно до ${EXPIRY}.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">7. Това пълномощно е невалидно в случай, че Собственика присъства на ОС.</td>
            <td class="border-left" width="50%">7. Настоящее согласие является недействительным в том случай, что Собственник присутствует на Общем собрании.</td>
        </tr>
        <tr>
            <td class="padding border-right" width="50%">Текстът на настоящото съгласие да се тълкува разширително и в полза на упълномощеното лице.</td>
            <td class="padding border-left" width="50%">Текст настоящего согласие следует интерпретировать расширительно и в пользу доверенного лица.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">Настоящото съгласие се състави на български и руски език. В случай на противоречие между текста на български и руски език, меродавен ще бъде текста на руски език.</td>
            <td class="border-left" width="50%">Настоящее согласие составлено на болгарском и русском языке. В случае противоречия между текстом на болгарском и русском языке, превалировать будет текст на русском языке.</td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
        <tr>
            <td class="padding text-center border-right" width="50%">----------------------------------------------------------</td>
            <td class="padding text-center border-left" width="50%">----------------------------------------------------------</td>
        </tr>
        <tr>
            <td class="text-center border-right" width="50%">СОБСТВЕНИК НА АПАРТАМЕНТ</td>
            <td class="text-center border-left" width="50%">СОБСТВЕННИК КВАРТИРЫ</td>
        </tr>
        <tr>
            <td class="padding text-center border-right font-size-7" width="50%"><strong>МОЛЯ НАПИШЕТЕ ПЪЛНОТО СИ ИМЕ</strong></td>
            <td class="padding text-center border-left font-size-7" width="50%"><strong>ПОЖАЛУЙСТА, НАПИШИТЕ ПОЛНОСТЬЮ ФАМИЛИЮ, ИМЯ И ОТЧЕСТВО</strong></td>
        </tr>
        <tr>
            <td class="border-right" width="50%">&nbsp;</td>
            <td class="border-left" width="50%">&nbsp;</td>
        </tr>
    </tbody>
</table>

</body>
</html>
